:root {
    --borderWidth: border: 5px solid;
  }
.section-content h2 {
    font-weight: 500;
    padding: 0;
    line-height: 2px;
    margin: 0 0 35px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    position: relative;
    }
    
    .section-content h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 3px;
    background: #ddd;
    bottom: -27px;
    left: calc(50% - 60px);
    }
    
    .section-content h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: #ffffff;
    bottom: -34px;
    left: calc(50% - 8px);
    border-radius: 50%;
    border: 3px solid #dc9b06;
    /* outline: 4px solid white; */
    font-size: 1rem;
    }
    .icon{
        color: white !important;
    }

    .home-card{
        border-radius: 11px;
background: linear-gradient(145deg, #5e5d5d, #000000);
box-shadow:  5px 5px 7px #000000,
             -5px -5px 7px #000000;
             clip-path: polygon(13% 0, 100% 0, 100% 85%, 86% 100%, 0 100%, 0 13%);


    }

