* {
  box-sizing: border-box !important;
}
.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
form {
  width: 100%;
}
form input {
  width: 100%;
}
.form-container {
  /* width: 100vw; */
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding-top: 5rem;
}

.form-container .img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.form-container .img img {
  width: 500px;
}

.form-container form {
  width: 360px;
}

.login-content img {
  height: 100px;
  margin: auto;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
}

.login-content .input-div.one {
  margin-top: 0;
}

.form-container .i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

.form-container a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  transition: 0.3s;
  margin-left: 20px;
}

.form-container a:hover {
  color: #0b4c36;
}

.form-container .btn {
  display: block;
  width: 92%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 7%;
}
.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .form-container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .form-container form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}
.input:focus{
  box-shadow: inset 6px 6px 8px #949494, inset -6px -6px 8px #d9d9d9 !important;
  border:none !important;
} 
input{
  caret-color: #F59E0B;
}
.input {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 8px #949494, inset -6px -6px 8px #d9d9d9;
  border:none !important;
}
.line-parent p {
  margin: 0 16px;
  font-size: 19px;
}
.line-left,
.line-right {
  width: 150px;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.456);
}
.g-container {
  width: 90%;
}
.fb-logo {
  width: 35px;
  height: 35px !important;
}
.g-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0;
  margin-top: 20px;
  padding: 16px;
  position: relative;
  background: transparent;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.41);
  border-radius: 10px;
  color: rgba(128, 128, 128, 0.76);
}
.g-logo .logo {
  position: absolute;
  left: 10px;
}
@media screen and (max-width: 900px) {
  .form-container {
    grid-template-columns: 1fr;
  }
  .btn {
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset 6px 6px 8px #949494, inset -6px -6px 8px #ffffff;
  }
  .form-container .img {
    display: none;
  }

  .form-container .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}
